<h2>Welcome to PizzaShop</h2>

<div class="row">
	<% @products.each do |p| %>
  <div class="col-md-3" src = >
  <div><img src ="<%= p.path_to_image %>"  width = "200" height = "200"/></div> 
  
  <div style ="color :red" ><%= p.description%></div>
  <div style ="color :green"><%= p.title.upcase  %></div>
<div ><%= p.size %> cm</div>
<div ><%= p.price %>rub</div>
<div> <button class = "btn btn -sm btn-success" onclick="alert('Hello from function')" >Add to cart</button></div>
</div>
<% end %>
</div><br><br>

<button class = "btn btn-primary" onclick="something()" >Click me!</button><br><br>



